<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.enable_contact == true %}
          <div class="text-center">
	    <p>I'm a <b>Software Engineer</b> from <i>Curitiba, Brazil</i>.</p>
	    <p>I create <b>WebApps</b> and <b>SaaS</b> platforms using <span style="color: #cc373d;">Ruby</span>, <span style="color: #4a3560;">Elixir</span> and <span style="color: #61daf8">React</span>.</p>

            {% if site.enable_contact == true %}
	    <p>{% include contact.html %}</p>
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.linkedin_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}

            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}

            {% if site.medium_username != '' %}
              <a href="https://medium.com/{{ site.medium_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>Medium</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
