{% include header.html %}
  <main id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {% if site.section_title != '' %}
          <h2 class="section-title text-center">{{ site.section_title }}</h2>
          {% endif %}

          <div class="mini-break"></div>
          <h3 class="text-center">Latest Posts</h3>
          <div class="mini-break"></div>

          {% for post in site.posts %}
            <div class="wow fadeIn posts">
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              {{ post.excerpt }}
              <div class="mini-break"></div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </main>
{% include footer.html %}
